<html>

<body>
    <form action="/operation" method="POST">
    <select id="operation" name="operation">
        <option value="total_sum">"total_sum"</option>
</select>
            <input type="Item_price1" name="Item_price1" id="Item_price1">
            <input type="Item_price2" name="Item_price2" id="Item_price2">
            <input type="Item_price3" name="Item_price3" id="Item_price3">
            <input type="Item_price4" name="Item_price4" id="Item_price4">
            <input type="submit" value="Calculate">
        </form>

</body>
</html>